body{
    font-family: 'PT Serif',serif;
}
#logoKjK{
    width: 10px;
    height: 20px;
}
.navbar{
    position: fixed;
}
#nameKijakazi{
    display: block;
}
.navbar{
    list-style: none;
    display: block;
}
.aboutUsSection{
    text-align: center;
    padding: 50px;
    margin: 60px;
}
.servicesSection{
    text-align: center;
    margin: 30px;
    padding: 30px;
}
#categoryIcons{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
}
.howItWorks{
    text-align: center;
    padding-top: 20px;
    margin: 30px;
}
#h4{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.clientTestimonials{
    text-align: center;
    padding: 50px;
    margin: 50px;
}
#icons{
    height: 50px;
    width: 50px;
}
.taskersTestimonials{
    text-align: center;
    padding: 50px;
    margin: 50px;
}
.footer{
    text-align: center;
}
#socials{
    width: 70px;
    height: 60px;
    text-align: center;
}
#whatsappLogo{
    width: 40px;
}
.contactUs{
    text-align: center;
}
#mediaIcons{
    padding: 20px;
    margin: 10px;
}
#topFooter{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.footer{
    margin: 10px;
    padding: 10px;
}